@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  background-color: #c9b5ab;
}

header {
  font-family: "PT Sans", sans-serif;
  font-size: 1rem;
}

nav ol li {
  list-style: none;
  color: #8f2440;
}

img {
  align-content: center;
  width:100%;
}

figure {
  font-style: italic;
  text-align: center;
}

.def {
  font-family: "PT Serif", serif;
  font-size:1rem;
}

figure #fig-cap {
  align-content: center;
}

#first-p {
  font-weight: bold;
}

h1, h2 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size:1.5rem;
}

#serving {
  font-style:italic;
}

dt {
  font-weight:bolder;
}

blockquote {
  font-size: 1.125rem;
  font-style: italic;
  font-weight: normal;
}

.chris {
  font-style: italic;
  font-size: 0.8rem;
}

.tags {
  list-style: circle;
}

.common {
  list-style: lower-greek;

}

a:hover {
  color: #fff;
  text-decoration: none;
}
